.delete-swal-title {
    color: #333; 
    font-size: 1.5em; 
}

.delete-swal-content {
    color: #555; 
    font-size: 1.2em; 
}

.delete-swal-confirm-button {
    color: #fff; 
    background-color: #d9534f; 
}

.delete-swal-cancel-button {
    color: #333; 
    background-color: #f0ad4e; 
}
