
.swal2-html-container{
    font-size: 32px;
    color: cornsilk; 
}
   
.swal2-success-line-long{
    color: cornsilk; 
    
}

.swal2-success-line-tip{
    color: cornsilk; 
}

.swal2-success-ring {
    border: 2px solid rgba(245, 161, 5, 0.916); 
    background-color: rgba(245, 161, 5, 0.916); 
    border-radius: 50%; 
    width: 60px; 
    height: 60px;
}

.swal2-confirm.swal-button.swal2-styled {
    background-color: cornsilk; 
    color: rgb(1, 6, 28); 
    border-radius: 25%; 
    padding: 15px 160px; 
    font-size: 20px;
}

.swal2-confirm.swal-button.swal2-styled .swal-button-text {
    font-size: 10px; 
}


.animated.fadeIn {
    animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

