.dashboard-section {
    display: none;
}

.content-page {
    padding: 20px;
    margin: 30px;
    border: 1px solid #ddd;
}

#create-role-section {
    padding: 20px;
    margin: 20px;
}

.roles-style {
    margin-left: 200px;
    padding-left: 30px;
}


#view-roles-section {
    /* margin-left: 400px;
    padding-left: 400px; */

    margin-left: 200px;
    padding-left: 30px;
}

#manager-registration-section {

    margin: 60px;
    margin-right: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    /* z-index: 999; */
}

.manager-registration {
    margin-left: 650px;
    padding-left: 30px;
}

#view-managers-section {
    margin-left: 200px;
    padding-left: 30px;
}

#view-roles-section {
    padding: 20px;
    margin: 50px;
}

#categories-at-middle {

    margin-left: 230px;
    padding-left: 30px;
}

/* #produce-creation {
  
    margin-left: 2px;
    padding-left: 3px;
    border-top: -100px;
} */

.body-produce {
    margin-left: 200px;
    padding-left: 3px;
}

.body-producetype {
    margin-left: 200px;
    padding-left: 3px;
}

.body{
    margin-left: 200px;
    padding-left: 3px;
}

.body-customer{
    margin-left: 200px;
    padding-left: 3px;
}